<h1>Books</h1>
<table>
    <tr>
      <th>Title</th> 
      <th>Body</th>
    </tr>
</table>
<tbody>
  <tr>
    <td>
      <a class="show_1" href="/books/1">Show</a>
    </td>
    <td>
      <a class="edit_1" href="/books/1">Edit</a>
    </td>
    <td>
      <a class="desrtoy_1" href="/books/1">Desrtoy</a>
    </td>
  </tr>
</tbody>



<h2>New book</h2> 

<%= form_with model: Book.new do |f| %>
  <h4>Title</h4> 
  <%= f.text_field :title %>
	
  <h4>body</h4>
  <%= f.text_area :body %>
	
  <%= f.submit 'Create Book' %> 
<% end %>